streamlit
openai
pinecone-client
transformers
gtts
speechrecognition
pyttsx3
asyncio
numpy
pandas
torch
torchaudio
torchvision
tiktoken
huggingface-hub
matplotlib
seaborn
plotly
spacy
nltk
streamlit-option-menu
streamlit-aggrid