streamlit
openai
pinecone
transformers
gTTS
speechrecognition
asyncio
numpy
pandas
torch
torchaudio
torchvision
tiktoken
huggingface-hub
matplotlib
seaborn                                                                
plotly
requests
Jinja2
spacy
pandas
numpy
nltk
streamlit-option-menu
streamlit-aggrid
python-dotenv
pyaudio
pynput
pip==25.0
pygments==2.19.1
markdown-it-py==3.0.0
mdurl==0.1.2
rich==13.9.4
transformers==4.37.0



